process {
    withName: 'FQ_SUBSAMPLE' {
        ext.args = {
            params.subsample_probability != null
                ? "-s ${params.subsample_seed} -p ${params.subsample_probability}"
                : "-s ${params.subsample_seed} -n ${params.subsample_record_count}"
        }
        ext.prefix = { "${meta.id}.subsample" }
        publishDir = [
            path: { "${params.outdir}/subsample" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
