/.nextflow
/work
.nextflow.log*
*.img
inference_mudata.h5mu
per_element_output.tsv
per_guide_output.tsv
nf-*-reports.tsv
/pipeline_outputs
/pipeline_dashboard
/results
pipeline-service-key.json
debug_dashboard.ipynb
.vscode/
GCP_user_notebook.ipynb
.params_2026-01-29_13-02-48.json
.params_2026-02-03_23-14-20.json
.params_2026-02-03_23-14-49.json
GCP_user_notebook.ipynb
*.pyc
__pycache__/
__pycache__/
.DS_Store
sample_metadata*
run_configs/qc_sweep_jesse/barcode_filter_knee.config
run_configs/qc_sweep_jesse/barcode_filter_knee2.config
run_configs/qc_sweep_jesse/min_genes_200_filter_none.config
run_configs/qc_sweep_jesse/min_genes_500_filter_none.config
run_configs/qc_sweep_jesse/min_genes_800_filter_none.config
run_configs/qc_sweep_jesse/min_genes_2000_filter_none.config
run_configs/replacement_bar_bug_fixes/barcode_filter_knee.config
run_configs/replacement_bar_bug_fixes/barcode_filter_knee2.config
run_configs/replacement_bar_bug_fixes/min_genes_200_filter_none.config
run_configs/replacement_bar_bug_fixes/min_genes_500_filter_none.config
run_configs/replacement_bar_bug_fixes/min_genes_800_filter_none.config
run_configs/replacement_bar_bug_fixes/min_genes_2000_filter_none.config
run_configs/replacement_bar_bug_fixes_fresh/barcode_filter_knee.config
run_configs/replacement_bar_bug_fixes_fresh/barcode_filter_knee2.config
run_configs/replacement_bar_bug_fixes_fresh/min_genes_200_filter_none.config
run_configs/replacement_bar_bug_fixes_fresh/min_genes_500_filter_none.config
run_configs/replacement_bar_bug_fixes_fresh/min_genes_800_filter_none.config
run_configs/replacement_bar_bug_fixes_fresh/min_genes_2000_filter_none.config
run_configs/replacement_bar_bug_fixes_fresh2/barcode_filter_knee.config
run_configs/replacement_bar_bug_fixes_fresh2/barcode_filter_knee2.config
run_configs/replacement_bar_bug_fixes_fresh2/min_genes_200_filter_none.config
run_configs/replacement_bar_bug_fixes_fresh2/min_genes_500_filter_none.config
run_configs/replacement_bar_bug_fixes_fresh2/min_genes_800_filter_none.config
run_configs/replacement_bar_bug_fixes_fresh2/min_genes_2000_filter_none.config
run_logs/qc_sweep_jesse/barcode_filter_knee.log
run_logs/qc_sweep_jesse/barcode_filter_knee2.log
run_logs/qc_sweep_jesse/min_genes_200_filter_none.log
run_logs/qc_sweep_jesse/min_genes_500_filter_none.log
run_logs/qc_sweep_jesse/min_genes_2000_filter_none.log
run_logs/qc_sweep_jesse/qc_sweep_events.jsonl
run_logs/qc_sweep_jesse/runs_manifest.tsv
run_logs/replacement_bar_bug_fixes/barcode_filter_knee.log
run_logs/replacement_bar_bug_fixes/barcode_filter_knee2.log
run_logs/replacement_bar_bug_fixes/min_genes_200_filter_none.log
run_logs/replacement_bar_bug_fixes/min_genes_500_filter_none.log
run_logs/replacement_bar_bug_fixes/min_genes_800_filter_none.log
run_logs/replacement_bar_bug_fixes/min_genes_2000_filter_none.log
run_logs/replacement_bar_bug_fixes/qc_sweep_events_gcs.jsonl
run_logs/replacement_bar_bug_fixes/qc_sweep_events.jsonl
run_logs/replacement_bar_bug_fixes/runs_manifest_gcs.tsv
run_logs/replacement_bar_bug_fixes/runs_manifest.tsv
run_logs/replacement_bar_bug_fixes_fresh/qc_sweep_events.jsonl
run_logs/replacement_bar_bug_fixes_fresh/runs_manifest.tsv
run_logs/replacement_bar_bug_fixes_fresh2/barcode_filter_knee.log
run_logs/replacement_bar_bug_fixes_fresh2/barcode_filter_knee2.log
run_logs/replacement_bar_bug_fixes_fresh2/min_genes_200_filter_none.log
run_logs/replacement_bar_bug_fixes_fresh2/min_genes_500_filter_none.log
run_logs/replacement_bar_bug_fixes_fresh2/min_genes_800_filter_none.log
run_logs/replacement_bar_bug_fixes_fresh2/min_genes_2000_filter_none.log
run_logs/replacement_bar_bug_fixes_fresh2/qc_sweep_events.jsonl
run_logs/replacement_bar_bug_fixes_fresh2/runs_manifest.tsv
.params_*.json
.qc_sweep_tui_state_repla*.json
