params {
    ENABLE_DATA_HASHING = false
    ENABLE_SCRUBLET = false
    use_igvf_reference = true
    is_10x3v3 = false
    reverse_complement_guides = false
    //example of sequence in front of the guide (see guidefastfile or run seqspec checker(implementing...) ): TAGCTCTTAAAC. This will deactivate the guideseqspec precise search and search in the whole read
    spacer_tag = ""

    scrna_workflow = "nac"
    use_multimapping = false
    replace_barcodes = true
    bc_replacement_file = 'assets/barcode_replacement.txt'

    DUAL_GUIDE = false
    REFERENCE_transcriptome = 'human'
    REFERENCE_gtf_download_path = 'https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_43/gencode.v43.annotation.gtf.gz'
    REFERENCE_gtf_local_path = '/path/to/gencode_gtf.gtf.gz'

    QC_min_genes_per_cell = 500
    QC_min_cells_per_gene = 0.025
    QC_pct_mito = 30

    Multiplicity_of_infection = 'high'
    GUIDE_ASSIGNMENT_method = 'sceptre'
    GUIDE_ASSIGNMENT_capture_method = 'CROP-seq'
    //GUIDE_ASSIGNMENT_method = 'cleanser'
    //GUIDE_ASSIGNMENT_capture_method = 'crop-seq'
    GUIDE_ASSIGNMENT_cleanser_probability_threshold = 1
    GUIDE_ASSIGNMENT_SCEPTRE_probability_threshold = 'default'
    GUIDE_ASSIGNMENT_SCEPTRE_n_em_rep = 'default'

    INFERENCE_method = 'default'
    INFERENCE_target_guide_pairing_strategy = 'default'

    INFERENCE_predefined_pairs_to_test = "path/to/file.csv"
    INFERENCE_max_target_distance_bp = 1000000

    INFERENCE_SCEPTRE_side = 'both'
    INFERENCE_SCEPTRE_grna_integration_strategy = 'union'
    INFERENCE_SCEPTRE_resampling_approximation = 'skew_normal'
    INFERENCE_SCEPTRE_control_group = 'default'
    INFERENCE_SCEPTRE_resampling_mechanism = 'default'
    INFERENCE_SCEPTRE_formula_object = 'default'

    NETWORK_custom_central_nodes = 'undefined'
    NETWORK_central_nodes_num = 1
}
