/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    // default process requirements
    container = params.containers.base
    cpus = { Math.min(16, params.max_cpus) }
    memory = { [50.GB * task.attempt, params.max_memory].min() }
    machineType = {
        workflow.profile == 'google' ? 'n2-highmem-16' : null
    }

    // Higher resource processes
    withName: 'mappingGuide|mappingHashing|mappingscRNA' {
        container = params.containers.base
        cpus = { Math.min(30, params.max_cpus) }
        memory = { [100.GB * task.attempt, params.max_memory].min() }
        machineType = {
            workflow.profile == 'google' ? 'n2-highmem-32' : null
        }
        disk = '200 GB'
    }

    withName: 'guide_assignment_cleanser' {
        container = params.containers.cleanser
        cpus = { Math.min(16, params.max_cpus) }
        memory = { [100.GB * task.attempt, params.max_memory].min() }
        machineType = {
            workflow.profile == 'google' ? 'n2-highmem-32' : null
        }
        scratch = true
        disk = '500 GB'
    }

    withName: 'guide_assignment_sceptre|inference_sceptre' {
        container = params.containers.sceptre
        // Align CPUs with downloadGTF|downloadGenome steps
        cpus = { Math.min(16, params.max_cpus) }
        memory = { [200.GB * task.attempt, params.max_memory].min() }
        machineType = {
            workflow.profile == 'google' ? 'n2-highmem-64' : null
        }
    }

    withName: 'sceptre_chunk_prepare|sceptre_chunk_merge' {
        container = params.containers.base
        cpus = { Math.min(8 * task.attempt, params.max_cpus) }
        memory = { [100.GB * task.attempt, params.max_memory].min() }
        machineType = {
            workflow.profile == 'google' ? 'n2-highmem-32' : null
        }
    }

    withName: 'inference_perturbo|inference_perturbo_trans' {
        container = params.containers.perturbo
        // GPU processes
        cpus = { Math.min(8, params.max_cpus) }
        memory = { [40.GB * task.attempt, params.max_memory].min() }
        machineType = 'a2-ultragpu-1g'

        // accelerator = [ request: 1, type: 'nvidia-a100-80gb' ]

        // SLURM specific
        clusterOptions = { workflow.profile == 'slurm' ? '--gres=gpu:4' : null }
    }

    withName: 'downloadReference' {
        container = params.containers.base
        // GPU processes
        cpus = { Math.min(16, params.max_cpus) }
        memory = { [100.GB * task.attempt, params.max_memory].min() }
        machineType = 'n1-highmem-32'
       // accelerator  = [request: 1, type: 'nvidia-tesla-t4']
    }

}
