/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests USING PRIVATE IGVF DATA (CREDENTIALS NEEDED)
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/crispr -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

// process {
//     resourceLimits = [
//         cpus: 4,
//         memory: '15.GB',
//         time: '1.h'
//     ]
// }

params {
    // outdir       = "test_results"
    config_profile_name        = 'Test private'
    config_profile_description = 'Minimal test dataset to check pipeline function using a igvf dataset with credentials'

    // Input data
    input        = "${projectDir}/tests/csv/private_samplesheet.csv"

}
