
params {
    SEQSPEC_ON_PORTAL = 'false'
    download_option = 'all' //all, fastq, other

    keypair_json = '/Users/sjiang/Desktop/IGVF/nf-core/crispr-pipeline/download_pipeline/igvf_key.json'
    accession_id = 'IGVFDS4389OUWU'

    SEQUENCE_PARSING_scRNA_seqspec_yaml = '/Users/sjiang/Desktop/IGVF/nf-core/crispr-pipeline/download_pipeline/seqspec/rna_seq_spec.yaml'
    SEQUENCE_PARSING_sgRNA_seqspec_yaml = '/Users/sjiang/Desktop/IGVF/nf-core/crispr-pipeline/download_pipeline/seqspec/sgrna_seq_spec.yaml'
    SEQUENCE_PARSING_hash_seqspec_yaml = '/Users/sjiang/Desktop/IGVF/nf-core/crispr-pipeline/download_pipeline/seqspec/hash_seq_spec.yaml'
}
